<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f2f061e556.js" crossorigin="anonymous"></script>
  <style>
    body {
      height: 100vh;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    #menu-buttons-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 10px;
      left: 10px;
    }

    #in-call-buttons-wrapper {
      position: fixed;
      bottom: 50px;
      left: 50%;
      margin-left: -150px;
      width: 300px;
      height: 60px;
      border-radius: 30px;
      display: flex;
      justify-content: space-evenly;
      background: rgb(0,0,0,0.9);
      box-shadow: 3px 3px 16px #23262b, -3px -3px 16px #1c1d23;
    }

    #in-call-buttons-wrapper button {
      width: 50px;
      background: transparent;
      border: none;
      border-radius: 5px;
      font-size: 30px;
      transition: all 0.3s ease-in-out;
      color: grey;
    }

    #in-call-buttons-wrapper button:hover {
      color: white !important;
    }

    #in-call-buttons-wrapper button:focus {
      outline: none;
    }

    #call-button-wrapper {
      display: none;
    }

    .background-overlay {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      background-color: rgba(74, 67, 67, 0.4);
    }

    #in-call-modal-container {
      display: inline;
      transition: all 0.3s ease-in-out;
      background-color: rgba(74, 67, 67, 0.4);
    }

    #bar-questionnaire-modal-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #questionnaire-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(218, 218, 218, 0.8);
      border-radius: 20px;
      overflow: auto;
    }

    #questionnaire-question {
      font-size: 20px;
      margin: 15px;
    }

    #room-container {
      margin: 5px 10px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: rgb(195 181 181 / 68%);
    }

    #level-one-option-container, #level-two-option-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
    }

    #level-three-option-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
    }

    #level-one-option {
      margin: 5px;
      font-size: 15px;
      line-height: 15px;
      cursor: pointer;
    }


    #bar-questionnaire-modal-wrapper button:focus {
      outline: none;
    }

    #back-to-game-button:hover {
      background-color: rgb(244, 105, 95);
    }

    #back-to-game-button:active {
      background-color: rgb(235, 78, 66);
    }

    #close-button {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      size: 20px;
      color:rgba(45, 45, 53, 0.4);
    }

    #close-button:hover {
      color:rgba(45, 45, 53, 0.8);
    }

    #back-to-game-button {
      margin: 50px 10px 20px;
      min-width: 150px;
      border-radius: 20px;
      font-size: 15px;
      cursor: pointer;
    }

    .screenshare-mode {
      position: absolute;
      bottom: 150px;
      height: 300px;
    }

    #videos-wrapper {
      /* margin: auto; */
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .video-element {
      /* Make sure your video element doesn't overflow its container. We've added width and max-width to set a preferred size and a maximum size for the video. The browser will calculate the height automatically */
      max-width: 40vw;
      max-height: 40vw;
      width: 500px;
      height: 500px;
      object-fit: cover;
      border-radius: 250px;
      transition: all 0.3s ease-in-out;
      /* background-color: grey; */
    }

    .video-element-screenshare-mode {
      width: 300px;
      height: 300px;
    }

    .flipX {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    #caller-name {
      color: white;
    }

    #online-list-wrapper {
      width: 10vw;
      min-width: 150px;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background-color: rgba(45, 45, 53, 0.8);
      backdrop-filter: blur(6px);
      color: white;
      font-size: 20px;
    }

    #online-list-wrapper li {
      cursor: pointer;
    }

    #player-profile-container {
      width: 250px;
      transition: 0.5s;
      overflow-x: hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100vh;
      background-color: rgba(215, 215, 215, 0.8);
      backdrop-filter: blur(2px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #player-image {
      width: 200px;
      margin: 10px;
      margin-top: 50px;
      border-radius: 100px;
    }

    #player-name {
      overflow-x: hidden;
      width: 210px;
      text-align: center;
    }

    #player-bio {
      overflow-x: hidden;
      width: 210px;
      margin: 20px;
    }

    #profile-close-button {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-top: 8px;
      text-align: center;
      font-weight: 200;
    }

    #online-list-wrapper div {
      margin-top: 20px;
      font-weight: 600;
      text-align: center;
    }

    #caller-card-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #caller-card {
      padding: 10px;
      width: 250px;
      height: 300px;
      background-color: rgb(255, 255, 255, 0.9);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    #caller-buttons-wrapper {
      display: flex;
    }

    #accept-button {
      border-radius: 10px;
      border-style: none;
      background-color: rgb(69, 176, 69);
      color: white;
    }

    #accept-button:hover {
      background-color: rgb(55, 159, 50);
    }

    #decline-button {
      border-radius: 10px;
      border-style: none;
      background-color: rgb(218, 74, 74);
      color: white;
    }

    #decline-button:hover {
      background-color: rgb(199, 59, 59);
    }

    #caller-card img {
      height: 100px;
      border-radius: 50px;
    }

    #player-sprite {
      font-size: 8px;
      color: white;
    }

    #profile-form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #profile-update-status {
      visibility: hidden;
    }

    .invalid-feedback {
      margin: 0;
      padding: 0;
    }

    .menu-button {
      border-style: none;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin: 5px;
      background-color: rgb(255 255 255 / 50%);
      cursor: pointer;
    }

    .menu-button:hover {
      background-color: rgb(255 255 255 / 80%);
    }

    .menu-button:focus {
      outline: none;
    }
  </style>
</head>

<body>
  <!-- <div id='caller-card-container' class="background-overlay"></div> -->
  <div id='game-wrapper'></div>

  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>
  <script src="public/simplepeer.min.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="public/firebase.js"></script>
  <script src="public/game.js"></script>
  <!-- entrypoint to the game files -->
  <script type="module" src=<%=BUNDLE_PATH %>></script>
</body>

</html>