<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Onara</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="public/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

  <script src="https://kit.fontawesome.com/f2f061e556.js" crossorigin="anonymous"></script>
  <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  

  <style>
    html {
      font-size: 15px;
    }

    .mr-10 {
      margin-right: 10px;
    }

    @media screen and (max-width : 1440px) {
      html {
        font-size: 13px;
      }
    }

    body {
      height: 100vh;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    }

    #general-chat-input-container input::placeholder {
      color: rgb(70, 70, 70);
    }
    
    #menu-buttons-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 50;
    }

    #in-call-buttons-wrapper {
      position: fixed;
      top: 50%;
      transform: translate(0, -50%);
      left: 25px;
      width: 60px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .in-call-buttons-section {
      padding: 10px 5px;
      border-radius: 30px;
      background: rgb(0,0,0,0.9);
      box-shadow: 3px 3px 16px #23262b, -3px -3px 16px #1c1d23;
    }

    .in-call-buttons-section:nth-child(1), .in-call-buttons-section:nth-child(2) {
      margin-bottom: 20px;
    }

    .in-call-buttons-section:nth-child(2) {
      padding: 5px;
      background-color: #ff0000c4;
    }

    .icon-button, #in-call-buttons-wrapper button {
      width: 50px;
      background: transparent;
      border: none;
      border-radius: 5px;
      font-size: 30px;
      transition: all 0.3s ease-in-out;
      color: grey;
    }
    
    .video-resize-btn {
      background: transparent;
      border: none;
      border-radius: 5px;
      font-size: 30px;
      color: rgb(88 88 88);
    }

    .video-resize-btn:hover, .video-resize-btn:active {
      color: rgb(100 100 100);
    }

    .video-resize-btn:focus {
      outline: none;
    }

    #in-call-buttons-wrapper button:hover {
      color: white !important;
    }

    .icon-button:hover {
      color: white !important;
    }

    .icon-button:focus {
      outline: none;
    }

    #in-call-buttons-wrapper button:focus {
      outline: none;
    }

    #call-button-wrapper {
      display: none;
    }

    .background-overlay {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      background-color: rgba(74, 67, 67, 0.4);
    }

    #in-call-modal-container {
      transition: all 0.3s ease-in-out;
      background-color: rgba(74, 67, 67, 0.2);
    }

    #bar-questionnaire-modal-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #questionnaire-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(218, 218, 218, 0.8);
      border-radius: 20px;
      overflow: auto;
    }

    #questionnaire-question {
      font-size: 20px;
      margin: 15px;
    }

    #room-container {
      margin: 5px 10px;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: rgb(195 181 181 / 68%);
    }

    #level-one-option-container, #level-two-option-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
    }

    #level-three-option-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
    }

    #level-one-option {
      margin: 5px;
      font-size: 15px;
      line-height: 15px;
      cursor: pointer;
    }


    #bar-questionnaire-modal-wrapper button:focus {
      outline: none;
    }

    #back-to-game-button:hover {
      background-color: rgb(244, 105, 95);
    }

    #back-to-game-button:active {
      background-color: rgb(235, 78, 66);
    }

    #close-button {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      size: 20px;
      color:rgba(45, 45, 53, 0.2);
    }

    #close-button:hover {
      color:rgba(45, 45, 53, 0.8);
    }

    #back-to-game-button {
      margin: 50px 10px 20px;
      min-width: 150px;
      border-radius: 20px;
      font-size: 15px;
      cursor: pointer;
    }

    .screenshare-mode {
      position: absolute;
      bottom: 150px;
      height: 300px;
    }

    #videos-wrapper {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      min-width: 150px;
      min-height: 150px;
      transition: background-color 0.3s ease-in-out;
    }

    #videos-wrapper:hover, #videos-wrapper:active {
      background-color: rgba(230, 230, 230, 0.20);
    }

    #videos-wrapper:hover #video-resize-btn-container {
      display: inline-block;
    }

    #video-resize-btn-container {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      transition: display 0.3s ease-in-out;
    }

    .video-element {
      /* Make sure your video element doesn't overflow its container. We've added width and max-width to set a preferred size and a maximum size for the video. The browser will calculate the height automatically */
      max-width: 30vw;
      max-height: 30vw;
      min-width: 100px;
      min-height: 100px;
      width: 400px;
      height: 400px;
      object-fit: cover;
      border-radius: 250px;
      transition: display 0.3s ease-in-out;
    }

    .video-element-screenshare-mode {
      width: 300px;
      height: 300px;
    }

    .font-bold {
      font-weight: bold;
    }

    .flipX {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    #caller-name {
      color: white;
    }

    .profile-p {
      margin: 3px 0;
    }

    #online-list-wrapper {
      width: 200px;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background-color: rgba(45, 45, 53, 0.8);
      backdrop-filter: blur(6px);
      color: white;
      font-size: 20px;
      border-radius: 20px 0 0 20px;
      transition: 0.5s ease-out;
    }

    #online-list-wrapper li {
      cursor: pointer;
    }

    #player-profile-container {
      width: 25%;
      min-width: 200px;
      max-width: 300px;
      transition: 0.5s;
      overflow-x: hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 50;
      height: 100vh;
      background-color: rgb(255, 255, 255, 0.9);
      backdrop-filter: blur(2px);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0 20px 20px 0;
    }

    #player-image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin: 10px;
      margin-top: 2rem;
      border-radius: 40px;
    }

    #player-name {
      overflow-x: hidden;
      width: 210px;
      text-align: center;
    }

    #player-bio {
      overflow-x: hidden;
      padding: 0 10px;
      max-width: 300px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .profile-subheader {
      font-size: 1rem;
      color: #434343;
    }

    #profile-close-button {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    #videos-wrapper > .add-friend-button:hover {
      background-color: red;
    }

    li.message {
      margin-top: 8px;
      text-align: center;
      font-weight: 200;
    }

    .navigation-container li {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 5px;
    }

    .navigation-container li:hover {
      background-color: rgba(69, 106, 221, 0.2);
    }

    .navigation-container li:active {
      background-color: rgba(69, 106, 221, 0.5);
    }

    #online-list-wrapper > div {
      margin-top: 20px;
      font-weight: 600;
      text-align: center;
    }

    #caller-card-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #caller-card {
      max-height: 100%;
      padding: 10px;
      background-color: rgb(255, 255, 255, 0.9);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    #caller-buttons-wrapper {
      display: flex;
    }

    #accept-button {
      border-radius: 10px;
      border-style: none;
      background-color: rgb(69, 176, 69);
      color: white;
      margin-right: 5px;
      padding: 3px 10px;
    }

    #accept-button:hover {
      background-color: rgb(55, 159, 50);
    }

    #decline-button {
      border-radius: 10px;
      border-style: none;
      background-color: rgb(218, 74, 74);
      color: white;
      padding: 3px 10px;
    }

    #decline-button:hover {
      background-color: rgb(199, 59, 59);
    }

    #player-sprite {
      font-size: 8px;
      color: white;
    }

    #profile-form-wrapper, #signup-form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #profile-update-status {
      visibility: hidden;
    }

    .invalid-feedback {
      margin: 0;
      padding: 0;
    }

    .menu-button {
      border-style: none;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin: 5px;
      background-color: rgb(255 255 255 / 50%);
      cursor: pointer;
    }

    .menu-button:hover {
      background-color: rgb(255 255 255 / 80%);
    }

    .menu-button:focus {
      outline: none;
    }

    /* Hide scrollbar while still allowing scroll. Only works on chrome */
    /* https://stackoverflow.com/a/30680994/4808481 */
    ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }

    input:focus {
      outline: none;
    }

    /* profile form */

    .page-container .fab, .page-container .fas *:not(.do-not-apply){
      width: 24px;
      height: 24px;
      margin-top: 8px;
      margin-right: 16px;
      color: black;
    }

    h1 {
      text-align: center;
    }

    .avatar-container {
      border-radius: 20px;
    }

    .avatar-container:hover {
      background-color: rgba(69, 106, 221, 0.2);
    }

    .avatar-container:active {
      background-color: rgba(69, 106, 221, 0.5);
    }

    .input-container input {
      width: 100%;
      max-width: 250px;
      margin: 2px auto;
      padding: 8px 16px;
      background-color: rgb(246, 246, 247);
      height: 40px;
      color: rgb(91, 91, 91);
      border-radius: 5px;
      border: none;
      font-family: 'Inter Regular', -apple-system, BlinkMacSystemFont,
        sans-serif;
      font-size: 14px;
      cursor: text;
    }

    #profile-form-wrapper .input-container input {
      width: 80%;
    }

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
      display: none;
      max-width: 320px;
      margin: 0px auto;
    }

    .tab-container {
      border: 1px solid rgb(224, 229, 247);
      box-sizing: border-box;
      border-radius: 3px;
      padding: 48px 64px;
      margin-bottom: 32px;
      margin-left: auto;
      margin-right: auto;
      max-width: 650px;
    }

    #prevBtn {
      width: 240px;
      display: inline;
      user-select: none;
      margin: 5px;
      max-width: 100%;
      padding: 0px 16px;
      background-color: rgb(255, 255, 255);
      color: rgb(69, 106, 221);
      border-radius: 5px;
      border: none;
      height: 44px;
      box-shadow: rgb(69 106 221) 0px 0px 0px 1px inset;
      font-family: 'Inter SemiBold', -apple-system, BlinkMacSystemFont,
        sans-serif;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease 0s;
    }

    #nextBtn, #saveBtn {
      width: 240px;
      display: inline;
      user-select: none;
      margin: 5px;
      max-width: 100%;
      padding: 0px 16px;
      background-color: rgb(69, 106, 221);
      color: rgb(255, 255, 255);
      border-radius: 5px;
      border: none;
      height: 44px;
      box-shadow: none;
      font-family: 'Inter SemiBold', -apple-system, BlinkMacSystemFont,
        sans-serif;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease 0s;
    }

    #upload-button {
      width: 100%;
      display: inline;
      user-select: none;
      margin: 0px auto;
      max-width: 100%;
      padding: 0px 16px;
      background-color: rgb(69, 106, 221);
      color: rgb(255, 255, 255);
      border-radius: 5px;
      border: none;
      height: 44px;
      box-shadow: none;
      font-family: 'Inter SemiBold', -apple-system, BlinkMacSystemFont,
        sans-serif;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease 0s;
    }

    #upload-button:hover,
    #nextBtn:hover {
      background-color: rgb(47, 69, 139);
    }

    #prevBtn:hover {
      background-color: rgb(224, 229, 247);
    }

    /* #prevBtn {
    background-color: #bbbbbb;
  } */

    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 10px;
      background-color: rgb(69, 106, 221);
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.2;
    }

    .step.active {
      opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: rgb(69, 106, 221);
    }

    .input-container {
      width: 100%;
      margin: 4px;
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      max-width: 500px;
      margin: 24px auto;
      flex-wrap: wrap-reverse;
    }

    .page-container {
      overflow: auto;
      background-color: white;
      border-radius: 10px;
      height: 80vh;
      max-height: 700px;
      font-family: 'Inter Regular', -apple-system, BlinkMacSystemFont,
        sans-serif;
      color: rgb(69, 106, 221);
      width: 70%;
      max-width: 900px;
      margin: 0px auto;
      text-align: center;
    }

    .progress-container {
      display: flex;
      flex-direction: row;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      max-width: 486px;
      margin: 24px auto 0px;
    }

    .header-container {
      margin: 40px auto 20px;
      max-width: 500px;
    }

    .header-container > p {
      margin-bottom: 0px;
      font-family: 'Inter Bold', -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 16px;
      line-height: 1.3;
      color: rgb(17, 17, 17);
      font-feature-settings: 'cv11';
    }

    .title-container {
      margin: 0px auto 24px;
      max-width: 500px;
    }

    .title-container p:first-child {
      margin-bottom: 0px;
      font-family: 'Inter Bold', -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 16px;
      line-height: 1.3;
      color: rgb(17, 17, 17);
      font-feature-settings: 'cv11';
    }

    .title-container p:nth-child(2) {
      margin: 0px;
      font-family: 'Inter Light', -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 14px;
      line-height: 1.45;
      color: rgb(172, 172, 172);
      font-feature-settings: 'cv11';
    }

    .bold-p {
      margin-bottom: 0px;
      font-family: 'Inter Bold', -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 14px;
      line-height: 1.3;
      color: rgb(17, 17, 17);
      font-feature-settings: 'cv11';
    }

    .light-p {
      margin: 0px;
      font-family: 'Inter Light', -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 12px;
      line-height: 1.45;
      color: rgb(172, 172, 172);
      font-feature-settings: 'cv11';
    }

    .add-your-own-container {
      display: flex;
      width: 100%;
      padding-top: 24px;
      margin-bottom: 10px;
    }

    .add-your-own-container > button {
      cursor: pointer;
      padding: 0px;
      background-color: rgb(246, 246, 247);
      border-radius: 0px 5px 5px 0px;
      border: none;
    }

    .add-your-own-container > input {
      width: 100%;
      padding: 10px;
      outline: none;
      background-color: rgb(246, 246, 247);
      border: none;
      border-radius: 5px 0px 0px 5px;
      font-family: 'Inter Regular', -apple-system, BlinkMacSystemFont,
        sans-serif;
      font-size: 14px;
      line-height: 1.45;
      color: rgb(91, 91, 91);
    }

    .custom-interest, .custom-skill {
      text-transform: capitalize;
      font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 14px;
      line-height: 0.5;
      color: rgb(71, 168, 165);
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 4px;
      margin-right: 4px;
      cursor: default;
      padding: 0px 10px;
      background-color: rgb(227, 242, 242);
      border-radius: 3px;
      height: 36px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }

    .interest-buttons-container, .skill-buttons-container {
      display: flex;
      flex-flow: row wrap;
      -webkit-box-align: center;
      align-items: center;
      justify-content: left;
      padding: 0px;
    }

    .interest-buttons-container button, .skill-buttons-container button {
      color: rgb(71, 168, 165);
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(71, 168, 165);
      border-radius: 3px;
      padding: 8px;
      font-family: 'Inter Regular', -apple-system, BlinkMacSystemFont,
        sans-serif;
      font-size: 14px;
      line-height: 1.45;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 4px;
      margin-right: 4px;
      cursor: pointer;
      transition: all 0.2s ease 0s;
    }

    .interest-buttons-container button.active, .skill-buttons-container button.active {
      background-color: rgb(71, 168, 165);
      color: white;
    }

    .interest-header, .skill-header {
      margin-top: 14px;
      color: rgb(172, 172, 172);
    }

    .interest-container, .skill-container {
      text-align: left;
    }

    .emoji-span {
      margin-right: 10px;
    }

    .avatar-img {
      height: 250px;
    }

    #profile-img-array-container img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      /* margin: 10px; */
    }
  </style>
</head>

<body>
  <div id='game-wrapper'></div>

  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-storage.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="public/firebase.js"></script>
  <script src="public/game.js"></script>
  <!-- entrypoint to the game files -->
  <script type="module" src=<%=BUNDLE_PATH %>></script>
</body>

</html>