<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
  <title>Login</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
  
    h1 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 50px;
    }
  
    .firebaseui-card-footer {
      visibility: hidden;
    }
  
    .wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
</head>

<body>

  <div class="wrapper">
    <h1>Arona Beta</h1>
    <div id="firebaseui-auth-container"></div>
    <div id="loader"></div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>

  <script src="public/firebase.js"></script>
  <script src="public/login.js"></script>
</body>

</html>