<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin-top: 100px;
    }

    form {
      margin-top: 20px;
    }

    #update-status {
      color: rgb(30, 154, 30);
    }

    #game-button {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <h1>Profile</h1>
    <img id='profile-image'>
    <div id='form-wrapper'>
    <form id='profile-edit-form'>
      <label>Name</label><br>
      <input type="text" name="name" value=""><br><br>
      <label>Education</label><br>
      <input type="text" name="education" value=""><br><br>
      <label>Bio</label><br>
      <textarea name="bio" form="profile-edit-form" rows=5></textarea><br><br>
      <input type="submit" value="Update">
      <text id='update-status'></text>
    </form>
    <button id="game-button" onclick="window.location.replace('/game')">Back to game</button>
    </div>

  </div>

  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>

  <script src="public/firebase.js"></script>
  <script src="public/profile.js"></script>
</body>

</html>